#main {
  order:2;
}
#left {
  order:1;
}
#right {
  order:3;

}
/* Invisible style from contao layout */
.invisible {
  border:0;
  clip:rect(0 0 0 0);
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px;
}

/**
FORM
 */
/* Error message below forms */
fieldset > .row
{
  margin-right: 0;
  margin-left: 0;
}
.form-text.error
{
  color: #d9534f;
}

/** gallery_default**/
.ce_gallery ul{
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}
.ce_gallery .imgli {
  padding: 0;
}
.ce_gallery .imgli.col_first {

}
.ce_gallery .imgli.col_last {

}

.table th, .table td {
    padding: .1rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    width: 14.2857%;
}
.table thead th {
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 12px 0;
    text-align: center;
}
.table .days .body {
    min-height: 80px;
}
.table .event:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.table .eventlink span {
    white-space: pre-line;
    margin: 2px 0px;
    line-height: 0.9rem;
    font-size: 80%;
    display: inline-block;
    padding: 2px;
    background-color: #eeee;
}


@media (max-width: 575.98px) {

}

@media (min-width: 576px) {

}

@media (max-width: 767.98px) {
  /* Seitenlayout Anordnung */
  .lay-2cll #left {
    order:2;
  } 
}

@media (min-width: 768px) {
  
}

@media (max-width: 991.98px) {
  .float-right {
    float: left !important;
  }
}

@media (min-width: 992px) {

}
@media (max-width: 1199.98px) {

}

@media (min-width: 1200px) {

}